span {
    color: red;
    font-size: 15px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #c6b29a !important;
}

.container1 {
    width: 550px; /* Set your desired width */
    height: 260px; /* Set your desired height */
    background-color: white; /* Change this to your preferred background color */
    text-align: center;
    padding: 20px;
    border-radius: 6px;
}
.container2 {
    width: 550px; /* Set your desired width */
    height: 370px; /* Set your desired height */
    background-color: white; /* Change this to your preferred background color */
    text-align: center;
    padding: 20px;
    border-radius: 6px;
}

#divbutton{
    text-align: right;
}

#logbtn{
    color: #fffdf2;
    background-color: #513D2F;
    width: 230px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
 }

 #logbtn:hover{
    font-weight: bold;
    background-color: rgba(198, 178, 154,.5);
    color: #513D2F;

 }


 .mb-3{
    text-align: left !important;
    margin-top: 10px;
 }
 .mb-3 input{
    background-color:rgba(198, 178, 154, .50);
 }
 .mb-3 label{
    color:#513D2F;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
 }

 .mb-3 input:focus{
   background-color:rgba(198, 178, 154, .50) !important;
   border: #513D2F 1px solid !important;
   box-shadow: #513D2F 0px 0px 3px !important;
}
input:-internal-autofill-selected {
   background-color:rgba(198, 178, 154, .50) !important;

}
